#!/bin/bash
## IMPORTANT - adjust the export_path to suit
## This is used by Galaxy for persistence. See the docker-galaxy-stable docs.
EXPORT_PATH="/export"
sudo rm -rf $EXPORT_PATH/*
sudo rm -rf $EXPORT_PATH/.distribution_config
sudo cp files/post-start-actions.sh  $EXPORT_PATH/
sudo cp files/tfwelcome.html $EXPORT_PATH/welcome.html
# comment next line to use the image rather than building it
docker build -t quay.io/fubar2/toolfactory-galaxy-docker  .
./start.sh

