# please adjust the absolute path to your "export" for the container Galaxy to use and save as start.sh
EXPORT_PATH="/export"
dockergid=`getent group docker | cut -d: -f3`
sudo docker run -d -p 8080:80 -p 8021:21 -p 8800:8800 -p 9009:9009 \
    --privileged=true -e GALAXY_DOCKER_ENABLED=True -e HOST_DOCKER_LEGACY=True \
    -v $EXPORT_PATH:/export/ -e HOST_DOCKER_GID=$dockergid \
    -v /var/run/docker.sock:/var/run/docker.sock \
    quay.io/fubar2/toolfactory-galaxy-docker

